.auth-contnet{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.auth-contnet form{
    display: flex;
    flex-direction: column;
    height:70%;
    gap:8px;
    width:70%;
}

.auth-contnet form .col{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom: 12px;
}

.auth-contnet form .col input {
    width:100% !important;
    padding:10px 15px;
    outline:none !important;

}

.auth-contnet form .col input  + fieldset{
    border-color:var(--border) !important;
}

.submit-btn{
    border-color: var(--subscribe) !important;
    color: var(--subscribe) !important;
    width: 100%;
}


@media(max-width:767px){
    
.auth-contnet form{
    width:100%;
}

.auth-contnet form .col{
    flex-direction:row;
    justify-content:space-between !important;
    flex-wrap: all;
}

.auth-contnet form .col > div   {
    width:48% !important;
}

.auth-contnet form .col > div input  {
    width:100% !important;
}

}


.link-auth{
    margin-bottom: 8px;
    transition: .3s;
}

.link-auth:hover{
    text-decoration: underline ;
}


.error{
    color:rgb(231, 33, 33);
    display:block !important;
    border-bottom: 1px solid var(--border);
    padding:8px
}
