.explore-page{
    padding:12px;
    overflow: auto;
    width:100%;
}

.explore-contnet{
    width: 100%;
    height:fit-content;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-self: space-between;
}

.explore-header{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:40%;
    justify-content: space-between;
    padding:12px;
    margin-top: 20px;;
}

.explore-header .explore-info{
    width:80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.explore-header .explore-info h2{
    font-size: 35px;
    margin-bottom: 12px;
    font-weight: 500;
}

.explore-header .explore-info p{
    margin:auto;
    text-align:center;
    color: var(--info);
    font-size: 16px;
    line-height:1.6
}

.explore-filters{
    width:80%;
    padding:12px;
    gap: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));

}


.explore-filters .filterButton{
    display:flex;
    gap:10px;
    flex-direction: column;
    border-radius: 6px;
    padding:12px;
    justify-content: center;
    flex-grow: 1;
}


.explore-filters .filterButton i{
    font-size: 22px;
    margin-bottom: 12px;
}

.explore-filters .filterButton i + span{
    font-size: 20px;
}

.explore-filters .filterButton.active{
    background-color: var(--activeBg);
    color: var(--activeText);
}