header{
    width: 100%;
    min-height:62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    top:0;
    /* background-color: var(--bg); */
}

.logoImage{
    width:42px;
    height:42px;
    object-fit: cover;
}

.logoImage + h2{
    font-size: 16px;
}

.searchField{
    padding:10px 15px;
    outline: none;
    width: 90%;
    border-radius: 8px 0 0 8px;
    font-size: 17px;
    border:1px solid var(--border);
    transition: .3s;
    border-right-color: transparent;
    background-color: var(--bg);
    height: 40px;
    color: var(--text);

}


.searchField + .search-icon{
    width: 70px;
    border-radius:  0  8px 8px 0 ;
    border:1px solid var(--border);
    transition: .3s;
    /* background: #fffbfb !important; */
    height: 40px;
    outline:none;
}

.searchField:focus , .search-icon:hover {
    border:1px solid var(--border);
}


.icon-mode{
    font-size: 28px !important;
}