.videos-section{
    overflow: auto;
    width:100%;
}

.videos-container{
    display: grid !important;
    padding:10px;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap:10px;
    width:100% ;
    overflow: hidden;

}

.videos-container > div{
    max-height: 350px;
    cursor: pointer;
}

.video-cover{
    width:100%;
    height:50%;
    position:relative;

    min-width:200px;
    min-height:200px;

}
.video-cover .time{
    position: absolute;
    top:calc(100% - 40px);
    right:10px;
    background-color: var(--bg);
    width:fit-content;
    padding:5px 10px;
    border-radius: 12px;
}

.videos-container .videoCard img{
    width:100%;
    height:100%;
    border-radius: 12px;
    object-fit: cover;
}

.video-title{
    display:block !important;
}

.card-video-content{
    padding:0 !important;
    width:100%;
    margin-top:12px;

}


.video-details{
    justify-content: space-between !important;
    width:fit-content;
    gap:12px;
    margin-bottom: 7px;
}


.video-footer-details{
    margin-left: 50px ;
    flex-direction: column;
    margin-top: 12px;
}

@media(max-width:767px){
    .videos-section{
        height:calc(100vh - (80px + 62px));
        margin: 25px 0;
    }


}